<% @maraudes.each do |maraude| %>
  <div class="card-trip">
    <%= cl_image_tag maraude.photo %>
    <div class="card-trip-infos">
      <div>
        <h2><%= maraude.title %></h2>
        <p><%= maraude.starts_at %></p>
      </div>
      <h2 class="card-trip-pricing"><%maraude.capacity%> places disponibles</h2>
      <img src=<%= maraude.user.photo %> class="card-trip-user avatar-bordered" />
    </div>
  </div>
<% end %>

