// Specific CSS for your home-page
.about-us-container {
  margin-top: 30px;
}

.wrapper-yellow {
  background-color: $yellow;
}


.about-us-container {
  h2 {
    padding: 50px 0px;
    font-family: $homepage-font;
  }
  .about-us {
    text-align: justify;
    margin-bottom: 30px;

  }
}

.ap-name {
  color: black;
}

.ap-suggestion {
  text-align: left;
  height: 41px;
}
