.mauraude-main-container {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

.mauraude-main-container #map {
  position: relative !important;
  height: 650px;
  width: 570px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.mauraude-container-left,
.mauraude-container-right {
  flex: 0 0 50%;
}

.maraude-title {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  color: white;
}

.mauraude-container-left {
  margin-right: 50px;
}

.button {
  background-color: #FFE436;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bandeau {
  background-color: #ffffff;
  color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 2px -2px gray;
}

body {
  background-color: #F8F9FA;
}
