.index-content {
  display: flex;

}

.index-left-part {
  width : 65%;
}

.index-right-part {
  width : 35%

}

.container-index {

  max-width : 90vw;

}

#map {
  height: calc(100vh - 120px);
  position: sticky;
  top: 0;
  width: 100%;
}
