.mauraude-main-container {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

.mauraude-main-container #map {
  position: relative !important;
  height: 650px;
  width: 570px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.mauraude-container-left,
.mauraude-container-right {
  flex: 0 0 50%;
}

.maraude-title {
  position: relative;
  top: 0px;
  left: 0px;
}

.maraude-title {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  color: white;
}
.mauraude-container-left {
  margin-right: 50px;
}

.button {
  background-color: #FFE436;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: #F8F9FA;
}

.bouton-maraude {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9em;
}

.bouton-maraude a{
  color: white;
}

.logo-asso {
  position: relative;
  top: 15px;
  left: 60px;

}
