<footer>

<div class="social d-flex justify-content-between">
  <i class="fab fa-facebook-f fa-lg white-text fa-2x"> </i>
  <i class="fab fa-twitter fa-lg white-text fa-2x"> </i>
  <i class="fab fa-google-plus-g fa-lg white-text fa-2x"> </i>
  <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
</div>

<div class="text-center yext-yellow">
  <a href="https://www.lewagon.com/fr"> Made With ❤️ Le Wagon Paris</a>
</div>


</footer>
