.booking-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking-info h2 {
  font-size:24px;
}
.booking-info p {
  font-size:16px;
}


.booking-time p {
  height: 20px;
  border-radius: 5%;
  // border: 1px solid #4A4A4A;
  // border-radius: 50px;
  // padding:20px;

}

.booking-time {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 17px;
    margin-bottom: 11px;
  }
  a {
    margin-left: 0;
  }
}

// .booking-time p {


// }

.green p {
  background-color:green;
  // opacity:0.2;
  color: black;
  vertical-align: middle;
}

.red p{
  background-color:red;
  // opacity:0.2;
  color: black;
  vertical-align: middle;
}


.booking-btn {
  display:flow-root;
}
