.card-trip-dashboard{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
}

.card-trip-dashboard > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-dashboard:hover {
  cursor:pointer;
  color: black;
}

#card a {
  text-decoration: none;
}

.card-trip-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-dashboard p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-dashboard-pricing {
  position: absolute;
  top: 50px; left: 170px;

}

.card-trip-dashboard .card-trip-dashboard-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-dashboard-infos .card-trip-dashboard-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product-dashboard {
  overflow: hidden;
  height: 210px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.card-product-dashboard img {
  height: 100%;
  width: 230px;
  object-fit: cover;
  opacity:0.8;
}

.card-product-dashboard h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product-dashboard p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-dashboard .card-product-dashboard-infos {
  padding: 16px;
  padding-right: 40px;
}
.card-product-dashboard-infos{
  display:flex;
  justify-content:space-between;
  flex-grow: 1;
  height: 100%;
}

