body {
  background-color: #FFF;
}


header {
  position: relative;
  // background-color: black;
  height: 87vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  filter: blur(5px);
  transform: translateX(-50%) translateY(-50%);
}

header {
  .container {
    position: relative;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .title-maraude-homepage{
    color: #fff;
    text-align: center;
    margin-top: 250px;
    padding: 30px;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 2px rgba(255,255,255,0);

  }
  h1.title-homepage{
    font-family: $homepage-font;
    font-size: 70px;
    text-shadow: 1px 2px 20px rgba(255,255,255,1);

  }
  .search-navbar{
    margin-top: 100px;
  }

}

.scroll-container{
  scroll-behavior: smooth;
   overflow-y: scroll;


}


ul li a,{
  font-family: $homepage-font;
  font-size: 50px;
}


@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}


.form-flex {
  display: flex;
}

.form-control {
  padding: 25px;
  // box-shadow: 0px 26px 29px -13px rgba(0,0,0,0.75);

}
.btn-warning {
  width: 250px;
  margin-left: 30px;
  // box-shadow: 0px 26px 29px -13px rgba(0,0,0,0.75);
  background-color: #FEC501;
  border: 1px solid #FEC501;
  color: $my-black;

}
.wrapper {
  background-color: #fff;
  padding: 65px 0px 150px 0;
}
.wrapper h2,
.wrapper p{
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-family: $homepage-font;
}

.main-features{
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
}

.main-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: justify;
}

.main-feature h4{
  margin-top: 30px;
  font-family: 'Acme','sans-serif';

}
.yellow-img{
  background-color: #FED137;
  border-radius: 50%;
  padding: 35px;

}

.maraude-h2{
  padding-top: 20px;
}

.partners {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gray-maraude{
  background-color: #F8F9FA;
}

.gray-maraude h2{
  font-family: $homepage-font;
  margin-bottom: 50px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Acme', 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}


#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}


  #mainNav {
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
    padding: 10px 0px;
    border: none;
    &.black-nav {
      background-color: #212529;
    }
  }


  #mainNav .navbar-brand {
    font-size: 2em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1em;
    font-weight: 400;
    padding: 1.1em 1em !important;
    letter-spacing: 1px;
    color: white;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }




