.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}


.color-white {
  color: white !important;
}

.navbar-black {
  background-color: #212529 !important;
}

#mainNav.navbar-small-height {
  padding: 0px;
}

#mainNav.navbar-small-height .navbar-brand {
  transform: scale(0.8) !important;
}
