.sidebar {
  width:20%;
  background-color: rgb(240, 240, 240);

}

.sidebar a {
  // background-color: #fdfa72 !important;
  // padding-top: 20px;
  color: black;
  padding-left: 30px;
  font-size: larger;

}

.sidebar h4 {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 25px;
  font-size: 45px;
}

.avatar-large-dashboard {
  width: 70px;
  border-radius: 50%;
  // margin-left: 90px;
  // margin-top: 480px;

}

.avatar-image{
  align-self: flex-end;
}
