
.sidenav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  opacity: 0;
  background: rgba(152, 152, 152, 0.5);
  z-index: -1;
  .sidenav-left-part {
    opacity: 0.7;
    width: 50%;
    flex-grow: 1;
  }
  .sidenav-right-part {
    padding: 20px;
    width: 0%;
    background: white;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    position: absolute;
    top: -100vh;
  }
  .sidenav-transition {
    width: 50% !important;
    transition: width 0.5s ease;
    position: relative;
    top: inherit;
  }

  &.active {
    opacity: 1;
    z-index: 0;
  }
}

.sidenav.active .sidenav-right-part {
  transform: translateX(0%);
}
